# exclude everything
bin/linux/*
bin/wins/*
lib/linux/*
lib/wins/*
include/*
model/*
test

model_loading
opengl_version
gipsydanger
avengers.wav

# exception to the rule
!bin/linux/.gitkeep 
!bin/wins/.gitkeep 
!lib/linux/.gitkeep 
!lib/wins/.gitkeep 
!include/.gitkeep 
!model/.gitkeep 

lib/libglfw3.a
lib/libGLEW.so
lib/libGLEW.a
lib/libglad.a
lib/libassimp.so
.vscode/tasks.json
.vscode/settings.json
